{% extends 'base.html' %}
{% load humanize %}
{% block title %}Article{% endblock title %}
{% block row_content  %}
    <!-- Blog Post Content Column -->
    <div class="col-lg-12">
        <!-- Blog Post -->
        <!-- Title -->
        <h1 class="post-title">{{ article.title }}</h1>
        <!-- Author -->
        <p class="lead">
            by <a href="{% url 'accounts:profile' username=author %}">{{ author }}</a> 
        </p>
        {% if request.user.username == author %}
        <a href="{% url 'blog:article-edit' username=author slug=article.slug %}"><span class='glyphicon glyphicon-edit'></span> Edit</a>  |  
        <a href="{% url 'blog:article-delete' username=author slug=article.slug %}"><span class='glyphicon glyphicon-remove'></span> Delete</a>
        {% endif %}

    <hr>
        <!-- Date/Time -->
        <small><span class="glyphicon glyphicon-time"></span> Posted on {{ article.created|naturalday:'Y/m/d' }}</small>
        <br>
        <small><span class="glyphicon glyphicon-eye-open "></span> Views : {{ article.views }}</small>
        <hr>
        
        {% if article.get_tags %}
            Tags: 
        
            {% for tag in article.get_tags  %}
                <a class='article-tags' href="{% url 'blog:tag' tag %}">
                    <span class="label label-default">{{ tag }}</span>
                </a>
            {% endfor %}
        
            <hr>
        {% endif %}
        <!-- Post Content -->
        <img class="img-rounded img-responsive" src="{{ article.thumbnail.url }}" alt="">
        <br>
        {{ article.body|safe }}
    </div>
{% endblock row_content %}