{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blogilf | {% block title %}{% endblock title %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'main/css/simple-blog-template.css' %}" rel="stylesheet">

    {% block css %}{% endblock css %}


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="/">Blogilf</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                        <li>
                            <a title="New Article" href="{% url 'blog:new-article' %}"><span class='glyphicon glyphicon-plus'></span> New</a>
                        </li>
                        <li>
                            <a title="Profile" href="/profile"><span class='glyphicon glyphicon-user'></span> Profile</a>
                        </li>
                        <li>
                            <a title="Logout" href="/logout"><span class='glyphicon glyphicon-log-out'></span></a>
                        </li>
                    {% else %}
                        <li>
                            <a title="Login" href="/login"><span class='glyphicon glyphicon-log-in'></span> Login</a>
                        </li>
                        <li>
                            <a title="Sign up" href="/signup"><span class='glyphicon glyphicon-new-window'></span> Sign up</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            {% if request.user.is_authenticated %}
                <p>Welcome, {{ request.user }}. Thanks for logging in.</p>
                <hr>
            {% endif %}

            {% block row_content %}{% endblock row_content %}

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    
    <!-- jQuery -->
    <script src="{% static 'main/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
    
    {% block script %}{% endblock script %}

  </html>
</body>

</html>