{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block row_content  %}
    <!-- Blog Entries Column -->
    <div class="col-md-12">
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.get_username }}. Thanks for logging in.</p>
        {% else %}
            <p>Welcome, new user. Please log in.</p>
        {% endif %}
        
        {% for article in articles %}
            <h2 class="post-title">
                <a href="{% url 'blog:article' article.slug %}">{{ article.title }}</a>
            </h2>
            <p class="lead">
                by {{ article.author }}
            </p>
            <p><span class="glyphicon glyphicon-time"></span> Posted on {{ article.created}}</p>
            {{ article.body|safe }}
            <hr>
        {% endfor %}

        <!-- First Blog Post -->
        <h2 class="post-title">
            <a href="/article">Blog Post Title</a>
        </h2>
        <p class="lead">
            by Author
        </p>
        <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:00 PM</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>
        <a class="btn btn-default" href="/article">Read More</a>
        <hr>


        <!-- Second Blog Post -->
        <h2 class="post-title">
            <a href="/article">Blog Post Title</a>
        </h2>
        <p class="lead">
            by Author
        </p>
        <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:45 PM</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, quasi, fugiat, asperiores harum voluptatum tenetur a possimus nesciunt quod accusamus saepe tempora ipsam distinctio minima dolorum perferendis labore impedit voluptates!</p>
        <a class="btn btn-default" href="/article">Read More</a>
        <hr>
        <!-- Third Blog Post -->
        <h2 class="post-title">
            <a href="/article">Blog Post Title</a>
        </h2>
        <p class="lead">
            by Author
        </p>
        <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:45 PM</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, voluptates, voluptas dolore ipsam cumque quam veniam accusantium laudantium adipisci architecto itaque dicta aperiam maiores provident id incidunt autem. Magni, ratione.</p>
        <a class="btn btn-default" href="/article">Read More</a>
        <hr>
        <!-- Pager -->
        <ul class="pager">
            <li class="previous">
                <a href="#">Prev</a>
            </li>
            <li class="next">
                <a href="#">Next</a>
            </li>
        </ul>
    </div>
{% endblock row_content %}
