{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block row_content  %}
    <!-- Blog Entries Column -->
    <div class="col-md-12">
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.get_username }}. Thanks for logging in.</p>
        {% else %}
            <p>Welcome, new user. Please log in.</p>
        {% endif %}
        
        {% for article in articles %}
            <h2 class="post-title">
                <a href="{% url 'blog:article' username=article.author.username slug=article.slug %}">{{ article.title }}</a>
            </h2>
            <p class="lead">
                by <a href="{% url 'blog:user' username=article.author.username %}">{{ article.author }}</a> 
            </p>
            <p><span class="glyphicon glyphicon-time"></span> Posted on {{ article.created}}</p>
            <hr>
        {% endfor %}

        <!-- Pager -->
        <ul class="pager">
            <li class="previous">
                <a href="#">Prev</a>
            </li>
            <li class="next">
                <a href="#">Next</a>
            </li>
        </ul>
    </div>
{% endblock row_content %}
