{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Home{% endblock title %}
{% block row_content  %}
    <!-- Blog Entries Column -->
    <div class="col-md-12">        
        {% for article in articles %}
            <h2 class="post-title">
                <a href="{% url 'blog:article' username=article.author.username slug=article.slug %}">{{ article.title }}</a>
            </h2>
            <p class="lead">
                by <a href="{% url 'accounts:profile' username=article.author.username %}">{{ article.author }}</a> 
            </p>
            <small><span class="glyphicon glyphicon-time"></span> Posted on {{ article.created|naturalday:'Y/m/d' }}</small>
            <br>
            <small><span class="glyphicon glyphicon-eye-open "></span> Views : {{ article.views }}</small>
            <hr>
        {% endfor %}

        <!-- Pager -->
        <ul class="pager">
            <li class="previous">
                <a href="#">Prev</a>
            </li>
            <li class="next">
                <a href="#">Next</a>
            </li>
        </ul>
    </div>
{% endblock row_content %}