{% extends 'base.html' %}
{% load static %}
{% block title %}New article{% endblock title %}
{% block row_content  %}
    <!-- Newpost content  -->
    <div class="col-lg-12 newpost">
        <!-- Title -->
        <h1>New article</h1>
        <!-- Newpost form -->
        <form method="post" class="newpost-form" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="subject">Subject:</label>
                {{ form.title }}
                {% for error in form.title.errors %}
                <p style="color: red;margin-top: 5px;">{{ error }}</p>
              {% endfor %}
            </div>
            
            <hr>
            
            <div class="form-group">
                <label for="content">Content:</label>
                {{ form.body }}
                {% for error in form.body.errors %}
                <p style="color: red;margin-top: 5px;">{{ error }}</p>
              {% endfor %}
            </div>
            
            <hr>

            <div class="form-group">
              <label for="content">Article tags:</label>
              {{ form.tags }}
              {% for error in form.tags.errors %}
              <p style="color: red;margin-top: 5px;">{{ error }}</p>
            {% endfor %}
          </div>
          
          <hr>

            <div class="form-group">
                <label for="content">Article thumbnail:</label>
                {{ form.thumbnail }}
                {% for error in form.thumbnail.errors %}
                <p style="color: red;margin-top: 5px;">{{ error }}</p>
              {% endfor %}
            </div>
            <hr>
            
            <div class="form-group">
                <label for="content">Article slug:</label>
                {{ form.slug }}
                {% for error in form.slug.errors %}
                <p style="color: red;margin-top: 5px;">{{ error }}</p>
              {% endfor %}
            </div>
            <hr>
            <div class="form-group">
                <label for="content">Article status:</label>
                {{ form.status }}
                {% for error in form.status.errors %}
                <p style="color: red;margin-top: 5px;">{{ error }}</p>
              {% endfor %}
            </div>
            <hr>
            <button type="submit" class="btn btn-primary center-block">Submit</button>
        </form>
        <!-- /form -->
    </div>
{% endblock row_content %}

{% block css %}
    <link href="{% static 'main/css/slugify.css' %}" rel="stylesheet">
{% endblock css %}

{% block script %}
    <script src="{% static 'main/js/slugify.js' %}"></script>

    <script>
        // The DOM element you wish to replace with Tagify
        var input = document.querySelector('input[name=tags]');
        
        // initialize Tagify on the above input node reference
        new Tagify(
          input,
          {
            // set regex for tags
            pattern    : /^[a-z0-9](-?[a-z0-9])*$/,
            // set return value format
            originalInputValueFormat: valuesArr => ' ' +  valuesArr.map(item => item.value).join(' , ') + ' '
          }
        )
    </script>
{% endblock script %}