{% extends 'base.html' %}
{% block title %}Sign up{% endblock title %}
{% block row_content  %}
    <div class="col-lg-2"></div>
    <!-- Signup content  -->
    <div class="col-lg-8 signup">

        <!-- Title -->
        <h1>Sign up</h1>

        <!-- Sign up form -->
        <form method="post" class="signup-form">

            {% csrf_token %}

            <div class="form-group">
                <label for="first_name">First name</label>
                {{ form.first_name }}    
                {% for error in form.first_name.errors %}
                <p style="color: red;margin-top: 5px;">{{ error }}</p>
            {% endfor %}

            </div>

            <div class="form-group">
                <label for="last_name">Last name *</label>
                {{ form.last_name }}
                {% for error in form.last_name.errors %}
                <p style="color: red;margin-top: 5px;">{{ error }}</p>
            {% endfor %}

            </div>

            <div class="form-group">
                <label for="email">Email</label>
            {{ form.email }}
            {% for error in form.email.errors %}
            <p style="color: red;margin-top: 5px;">{{ error }}</p>
        {% endfor %}

            </div>

            <div class="form-group">
                <label for="username">Username</label>
                {{ form.username }}
                {% for error in form.username.errors %}
                <p style="color: red;margin-top: 5px;">{{ error }}</p>
            {% endfor %}

            </div>

            <div class="form-group">
                <label for="password">Password</label>
                {{ form.password1 }}
                {% for error in form.password1.errors %}
                <p style="color: red;margin-top: 5px;">{{ error }}</p>
            {% endfor %}

            </div>

            <div class="form-group">
                <label for="password">Password Confirmation</label>
                {{ form.password2 }}
                {{ form.password2.errors_as_p }}
                {% for error in form.password2.errors %}
                <p style="color: red;margin-top: 5px;margin-bottom:-5px">{{ error }}</p>
            {% endfor %}
            </div>

            <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
    </div>
    <div class="col-lg-2"></div>
{% endblock row_content %}