{% extends 'base.html' %}
{% load humanize %}
{% block title %}{{ user_object.username }}{% endblock title %}
{% block row_content  %}
<li>
    <h3>User information:</h3>
    <ul><p>Username : {{ user_object.username }}</p></ul>
    <ul>
        {% if user_object.get_full_name %}
        <p>Name : {{ user_object.get_full_name }}</p>
        {% endif %}    </ul>
    <ul>
        {% if user_object.bio %}
        <p> Bio : {{ user_object.bio }}</p>
        {% endif %}        
    </ul>
    <ul>
        <p>Date joined : {{ user_object.date_joined|date:'F d Y' }}</p>
    </ul>
</li>

<li>
    <h3>Last Articles by {{ user_object.username }}:</h3>
    <hr>
    {% for article in user_object.articles.all|slice:":2" %}
    <ul>
        <h4 class="post-title">
            <a href="{% url 'blog:article' username=user_object.username slug=article.slug %}">{{ article.title }}</a>
        </h4>
        <small><span class="glyphicon glyphicon-time"></span> Posted on  {{ article.created|date:'Y/m/d' }} ({{ article.created|naturalday:'h:i' }})</small>
    </ul>
    <hr>
    {% endfor %}

    {% if user_object.articles.all|length > 2 %}
    <a href='{% url 'blog:user-articles' username=user_object.username %}'><span class="glyphicon glyphicon-triangle-right"></span> all articles</a>    
    {% endif %}        
</li>
{% endblock row_content %}
